@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  font-family: "Poppins", sans-serif;
}
.containera {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
  padding: 10px;
  color: #000;
  box-sizing: border-box;
}
.containera .box {
  position: relative;
  background: rgb(246, 246, 253);
  padding: 10px 25px 10px;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 5px 8px;
  background-color: white;
}
.containera-form {
  max-width: 37em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0px 3px 50px -2px rgba(0, 0, 0, 0.2);
}
.containera-info {
  max-width: 50em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: rgb(240, 240, 255);
  border-radius: 14px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.containera-nota {
  padding-top: 0;
  max-width: 50em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: rgb(240, 240, 255);
  border-radius: 14px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.na ul {
  list-style-type: none;
  top: 0;
  left: 0;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(118, 22, 243);
  font-family: "Secular One";
}

.na li {
  float: left;
}

.na li a {
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.na li a:hover {
  background-color: rgb(149, 68, 255);
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(118, 22, 243);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(61, 61, 61);
}

.button:hover {
  background-color: rgb(114, 35, 218);
}

.button:active {
  background-color: rgb(105, 32, 199);
  box-shadow: 0 5px rgb(61, 61, 61);
  transform: translateY(4px);
}
input[type="submit"] {
  text-align: center;
  width: 25%;
  background-color: #571ef3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="reset"] {
  width: 25%;
  background-color: #db2222;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #6e3aff;
}
input[type="reset"]:hover {
  background-color: #f33737;
}

.pm {
  border-radius: 7px;
  background-color: #f2f2f2;
  padding: 25px;
}

#data_user {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#data_user td,
#customers th {
  border: 2px solid #ddd;
  padding: 10px;
}

#data_user tr:nth-child(even) {
  background-color: #f2f2f2;
}

#data_user tr:hover {
  background-color: #ddd;
}

#data_user th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: left;
  background-color: rgb(149, 68, 255);
  color: white;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.pesanan {
  padding-top: 7%;
  text-align: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#car {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.747);
}

#foto {
  padding-left: 3%;
}
#termasuk {
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  padding: 10px 30px 10px 30px;
  display: inline-block;
  line-height: 1;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin: auto;
}
#harga {
  padding-top: 2rem;
  margin: auto;
  padding: 10px 30px 10px 30px;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
}
#pesan {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
#info {
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  padding: 10px 30px 10px 30px;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #571ef3;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}
.ignielToTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 108px;
  right: 48px;
  z-index: 99;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.5s;
  background: #571ef3 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}
.ignielToTop:hover {
  background: #571ef3 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}
.tombol-nota {
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  background: #571ef3;
  color: #fff;
  border: solid 1px #571ef3;
  padding: 10px;
  border-radius: 9px;
  transition-duration: 0.2s;
}

.tombol-nota:before {
  content: "»";
  opacity: 0;
  margin-left: -15px;
  transition-duration: 0.2s;
}

.tombol-nota:hover:before {
  margin-left: 0px;
  opacity: 1;
}

.tombol-nota:hover {
  color: #ffffff;
  background: #571ef3;
}

/* Tambahan */
#banner * {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  margin-top: 2rem;
  text-decoration: none;
}
.ml11 {
  font-weight: 600;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgb(255, 8, 8);
  transform-origin: 0 100%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
#index .box0:hover {
  --p: 101%;
  --t: 0.3s;
  color: #fff;
}
#index .box0 {
  --c: no-repeat linear-gradient(#571ef3 0 0);
  background: var(--c) calc(-101% + var(--p, 0%)) 100%, var(--c) calc(201% - var(--p, 0%)) 0;
  background-color: white;
  background-size: 50.1% var(--p, 0.08em);
  transition: 0.3s var(--t, 0s), background-position 0.3s calc(0.3s - var(--t, 0s));
}

#index .box1 {
  background: linear-gradient(#571ef3 0 0) left / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
  background-color: white;
}
#index .box1:hover {
  --p: 100%;
  background-position: right;
  color: white;
}

#index .box2 {
  background: linear-gradient(#571ef3 0 0) no-repeat calc(200% - var(--i, 0) * 100%) 100% / 200% calc(100% * var(--i, 0) + 0.08em);
  transition: 0.3s calc(var(--i, 0) * 0.3s), background-position 0.3s calc(0.3s - calc(var(--i, 0) * 0.3s));
  background-color: white;
}
#index .box2:hover {
  --i: 1;
  color: #fff;
}
#index .box3:hover {
  --p: 101%;
  --t: 0.3s;
  color: #fff;
}
#index .box3 {
  --c: no-repeat linear-gradient(#571ef3 0 0);
  background: var(--c) calc(-101% + var(--p, 0%)) 100%, var(--c) calc(201% - var(--p, 0%)) 0;
  background-color: white;
  background-size: 50.1% var(--p, 0.08em);
  transition: 0.3s var(--t, 0s), background-position 0.3s calc(0.3s - var(--t, 0s));
}

/* #kirim {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  position: relative;
  font-size: 17px;
  background: #333;
  border: none;
  color: #fff;
}

#kirim:hover {
  letter-spacing: 0.25em;
  background: #ff1867;
  color: #ff1867;
  box-shadow: 0 0 45px #ff1867;
}

#kirim::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #222222;
}

#kirim span {
  position: relative;
  z-index: 1;
}

#kirim i {
  position: absolute;
  inset: 0;
  display: block;
}

#kirim i::before {
  content: "";
  position: absolute;
  border: 2px solid #ff1867;
  width: 7px;
  height: 4px;
  top: -3.5px;
  left: 80%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

#kirim:hover i::before {
  width: 20px;
  left: 20%;
}

#kirim i::after {
  content: "";
  position: absolute;
  border: 2px solid #ff1867;
  width: 7px;
  height: 4px;
  bottom: -3.5px;
  left: 20%;
  background: #222222;
  transform: translateX(-50%);
  transition: 0.5s;
}

#kirim:hover i::after {
  width: 20px;
  left: 80%;
} */

.tombolback-nota {
  border: none;
  font-family: sans-serif;
  font-size: 15px;
  background: #571ef3;
  color: #fff;
  border: solid 1px #571ef3;
  padding: 10px;
  border-radius: 9px;
  transition-duration: 0.2s;
}

.tombolback-nota:before {
  content: "«";
  opacity: 0;
  margin-left: -15px;
  transition-duration: 0.2s;
}


.tombolback-nota:hover:before {
  margin-left: 0px;
  opacity: 1;
}

.tombolback-nota:hover {
  color: #ffffff;
  background: #571ef3;
}
/* Akhir Tambahan */
.bg-login {
  background-color: #d87b01;
}
.login-page {
  width: 360px;
  padding: 16% 0 0;
  margin: auto;
}
.form {
  position: relative;
  border-radius: 16px;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 10;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #e48508;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #f58b00;
}

button {
  border-radius: 16px;
}

/* Tambahan 2 */
body {
  background-color: #F0AF0D;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif ;
  margin: 0 ;
}

html {
  box-sizing: border-box;
  background-color: #F0AF0D;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #F0AF0D;
  color: black;
}
.about-section h1{
  padding-bottom: 2rem;
}

.container {
  padding: 0 20px; ;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #F0AF0D;
}

#unggulan .box:hover{
  transform: scale(1.1);
  color: #2300ad;
  /* background-color: rgb(212, 0, 255); */
}

#pemesanan:hover{
  transform: scale(1.2);
}
/* AKhir Tambahan 2 */