{% extends "base.html" %} {% block title %} Informasi {% endblock %} {% block content %}
<div class="about-section" style="margin-top: -2rem;">
  <h1>Tentang Kami</h1>
  <p style="font-size: 18px;">Timbang Mlaku merupakan perusahaan yang bergerak di bidang jasa penyewaan kendaraan bermotor khususnya mobil yang beroperasi di wilayah Jogja dan sekitarnya mengakomodasi segala kebutuhan mobil anda untuk berbagai keperluan seperti liburan, pulang kampung, keperluan kampung dan lain lain dengan berbagai tujuan di pulau Jawa,memastikan perjalanan anda aman dan nyaman,kami selalu melakukan maintanain secara berkala,servis rutin dan juga pengecekan kendaraan sebelum serah terima dengan konsumen.</p>
</div>
<h2 style="text-align:center; padding-bottom: 2rem;"> Fasilitas Unggulan Timbang Mlaku Transport</h2>
</style>
<style>
  body {
   background-color: #F0AF0D;
   background-size:cover
  }
</style>
  <div class="body">
    <div class="containera" id="unggulan">
      <div class="box">
        <img src="/static/img/murah.png" alt="1" style="width:100px">
        <h4>Harga Terjangkau</h4>
        <p>Kami jamin tarif yang kami tawarkan sangat murah kompetitif</p>
      </div>
      <div class="box">
        <img src="/static/img/mobilterawat.png" alt="2" style="width:100px">
        <h4>Kondisi Mobil Terawat</h4>
        <p>Perawatan rutin selalu kami lakukan, yaitu perawatan mobil harian, mingguan bulanan.</p>
      </div> 
      <div class="box">
        <img src="/static/img/pengalaman.png" alt="3" style="width:100px">
        <h4>Supir Berpengalaman</h4>
        <p>Supir yang kami berikan kepada Anda telah berpengalaman dan mengenal wilayah.</p>
      </div>
      <div class="box">
        <img src="/static/img/travelmudah.png" alt="1" style="width:100px; padding: 20p;">
        <h4>Antar Jemput Gratis</h4>
        <p>Proses travel cukup mudah, hanya telepon atau WA ke admin kami.</p>
      </div>
    </div>
  </div>
  <br />
<div style="text-align: center">
  <br />
  <h1>Informasi Tentang Kami</h1>
  <br />
</div>
<div class="body" style="margin-bottom: 3rem;">
  <div class="containera-info" id="pemesanan">
    <h2 style="text-align: center">Cara Pemesanan Mobil</h2>
    <hr />
    <div style="text-align: left">
      <p>1. Calon penyewa mengisi data lengkap pada form booking</p>
      <p>2. Jika sudah di isi maka tekan submit</p>
      <p>3. Maka akan muncul keterangan berhasil</p>
      <p>
        4. Tunggu beberapa saat maka admin akan menghubungi melalui <br />
        &nbsp; &nbsp; WhatsApp untuk melakukan konfirmasi dan validasi data
      </p>
      <p>5. Selanjutnya user akan diminta untuk melakukan <br />&nbsp; &nbsp; Pembayaran DP ataupun full</p>
      <p>6. Penyewaan mobil telah berhasil</p>
      <p>7. Mobil dan driver akan datang sesuai permintaan anda &#128522;</p>
    </div>
  </div>
</div>
{% endblock %}
